<div>

  <!-- Primary Button - Used to represent a primary action. -->
  <button ejs-button cssClass="e-primary m-1">Primary</button>

  <!-- Info Button - Used to represent an informative action -->
  <button ejs-button cssClass="e-info m-1">Normal</button>

  <!-- Link Button - Changes the appearance of the Button like a hyperlink. -->
  <button ejs-button cssClass="e-link m-1">Outline</button>

  <!-- Success Button - Used to represent a positive action. -->
  <button ejs-button cssClass="e-success m-1">Confirm</button>

  <!-- Warning Button - Used to represent an action with caution. -->
  <button ejs-button cssClass="e-warning m-1">Alert</button>

</div>